<div class="b-acc">
    <h2>Frequently Asked Questions</h2>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Is it really customized to me and my goals?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">How does it get results so fast compared to other diets?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Who are the doctors that created the G-Plans program?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">What if it doesn’t work for me?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Do I need to order specific pre-made food from you?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
    <div class="acc__item">
        <div class="acc__title js-acc-title">Does this work if I have speficic food allergies?<span></span></div>
        <div class="acc__content js-acc-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi illo, nemo necessitatibus molestias minus quisquam dignissimos at a. Veniam libero provident magnam consequuntur vel fuga soluta fugit. Beatae, tempora. Tempora quasi ipsum consectetur ad reprehenderit voluptas quisquam amet consequuntur maiores dicta asperiores debitis excepturi eveniet, harum neque, libero quos nihil aut nemo vero voluptatem, blanditiis quis quaerat. Autem accusantium consequatur, similique cum excepturi eaque nam sed natus maiores maxime tenetur fuga aliquam aut. Ullam rerum nihil, aspernatur quidem consequuntur voluptas nam perspiciatis vitae similique facilis itaque eveniet blanditiis esse soluta et totam iure eius officia labore quam quos? Fugiat, ea?</p>
        </div>
    </div>
</div>