<div class="b-how-works">
    <h2>How it works</h2>
    <div class="how-works__items">
        <div class="how-works__item">
            <img src="./img/how-pic-1.png" alt="">
            <h3>Create your plan</h3>
            <p>Take the quiz to customize the perfect me al plan for you and your goals.</p>
        </div>
        <div class="how-works__item">
            <img src="./img/how-pic-2.png" alt="">
            <h3>Get your groceries</h3>
            <p>Get the groceries from any place you choose - G-Plans is flexible like that.</p>
        </div>
        <div class="how-works__item">
            <img src="./img/how-pic-3.png" alt="">
            <h3>Cook the recipes</h3>
            <p>Follow the easy-to-make recipes in your plan or swap for new ones.</p>
        </div>
        <div class="how-works__item">
            <img src="./img/how-pic-4.png" alt="">
            <h3>Reach your goals</h3>
            <p>Guaranteed to see results in the mirror! It’s that simple - eat the food, lose weight.</p>
        </div>
    </div>
</div>