<div class="b-promo">
    <div class="promo__inner">
        <div class="promo__content">
            <h1>The custom meal plan guaranteed* <br> to get results</h1>
            <p>Created by doctors to allow you to eat what <br> you want to get the body you want.</p>
            <p><a href="#" class="promo__btn b-button b-button--big b-button--icon">Create your plan now <span>(it takes just 60 seconds)</span> <i class="fas fa-arrow-right"></i></a></p>
            <ul>
                <li>100% customized to your goals and body</li>
                <li>Reach your body goal in record time</li>
            </ul>
        </div>
        <div class="promo__pic">
            <picture>
                <source srcset='./img/promo-pic.webp' type='image/webp'>
                <source srcset='./img/promo-pic.png' type='image/png'>
                <img src='./img/promo-pic.png' alt=''>
            </picture>
        </div>
    </div>
</div>