<div class="b-social">
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-1.webp' type='image/webp'>
            <source srcset='./img/social-ava-1.jpg' type='image/jpeg'>
            <img src='./img/social-ava-1.png' alt=''>
        </picture>
        <div class="social__title">@simplykatielynn</div>
    </a>
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-2.webp' type='image/webp'>
            <source srcset='./img/social-ava-2.jpg' type='image/jpeg'>
            <img src='./img/social-ava-2.png' alt=''>
        </picture>
        <div class="social__title">@adabellebuntrock</div>
    </a>
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-3.webp' type='image/webp'>
            <source srcset='./img/social-ava-3.jpg' type='image/jpeg'>
            <img src='./img/social-ava-3.png' alt=''>
        </picture>
        <div class="social__title">@ariejr <img src="./img/icon-confirmed.png" alt=""></div>
    </a>
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-4.webp' type='image/webp'>
            <source srcset='./img/social-ava-4.jpg' type='image/jpeg'>
            <img src='./img/social-ava-4.png' alt=''>
        </picture>
        <div class="social__title">@katie.rank</div>
    </a>
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-5.webp' type='image/webp'>
            <source srcset='./img/social-ava-5.jpg' type='image/jpeg'>
            <img src='./img/social-ava-5.png' alt=''>
        </picture>
        <div class="social__title">@efergie13 <img src="./img/icon-confirmed.png" alt=""></div>
    </a>
    <a href="#">
        <picture>
            <source srcset='./img/social-ava-6.webp' type='image/webp'>
            <source srcset='./img/social-ava-6.jpg' type='image/jpeg'>
            <img src='./img/social-ava-6.png' alt=''>
        </picture>
        <div class="social__title">@olgaurbanovich_</div>
    </a>
</div>