<div class="b-table">
    <table>
        <tr>
            <th></th>
            <td class="table__g">g<ins>•</ins>plans</td>
            <td>Weight <br> Watchers</td>
            <td>Noom</td>
        </tr>
        <tr>
            <th>Professional results-driven meal plan <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
            <th>Customized to you and your goals <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Created by doctors <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Nutrition classes & cooking videos included <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Dedicated coaching unique to you <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
        </tr>
        <tr>
            <th>Create your own recipe tool <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Private community with other users <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Swap any ingredient or any recipe at any time <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>Allows and encourages cheat-meals <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th>No contract & easy cancellation <a href="#">Learn more</a>
            </th>
            <td><i class="fas fa-check"></i></td>
            <td><i class="fas fa-times"></i></td>
            <td><i class="fas fa-times"></i></td>
        </tr>
        <tr>
            <th></th>
            <td class="table__price">
                <ins>Price</ins>
                <span class="table__price-old">$78</span>
                <span class="table__price-new">$39</span>
            </td>
            <td class="table__price">
                <ins>Price</ins>
                <span>$99</span>
            </td>
            <td class="table__price">
                <ins>Price</ins>
                <span>$139</span>
            </td>
        </tr>
    </table>
</div>