.l-wrap {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}
/*----------*/
.l-header {
    margin-left: -2rem;
    margin-right: -2rem;
}
/*----------*/
.l-content {
    flex: 1 auto;
    
    .content__wrap {
        margin: auto;
        max-width: 120rem;
        width: 100%;
    }
}
/*----------*/
.l-footer {
    margin-left: -2rem;
    margin-right: -2rem;
}
/*----------*/
