.b-promo {
    position: relative;
    padding-top: 9rem;
    background: linear-gradient(to bottom, rgba(255,246,229,1) 0%,rgba(255,239,210,1) 100%);

    @media (min-width: $breakpoint-tablet) {
        padding-top: 5rem;
    }

    h1, .h1 {
        margin-bottom: 3.5rem;
        line-height: 1;
        font-size: 3.5rem;
        color: $color-blue-dark;
        
        @media (min-width: $breakpoint-tablet) {
            font-size: 4rem;
        }
        @media (min-width: $breakpoint-desktop) {
            font-size: 6rem;
        }
    }

    .promo__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        max-width: 124rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }
    .promo__content {
        position: relative;
        z-index: 1;
        width: 100%;
        text-align: center;
        
        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }

        p {
            margin-bottom: 3.5rem;
            
            @media (min-width: $breakpoint-desktop) {
                font-size: 2.4rem;
            }
        } 
        ul {
            margin: auto;
            padding: 0;
            max-width: 40rem;
            text-align: left;

            li {
                padding-left: 2.5rem;
                margin-bottom: 1rem;
                position: relative;
                color: $color-blue2;

                &::before {
                    content: '\f00c';
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-family: $font-family-awesome;
                    font-weight: 900;
                }
            }
        }       
    }
    .promo__pic {
        width: 100%;
        align-self: flex-end;
        pointer-events: none;

        @media (min-width: $breakpoint-tablet) {
            width: 50%;
        }

        picture {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            max-width: 100%;
        }
        img {
            margin-top: -10%;
            max-width: 170%;

            @media (min-width: $breakpoint-tablet) {
                margin-right: 0;
            }
            @media (min-width: $breakpoint-desktop) {
                max-width: 200%;
            }
        }
    }
    .promo__btn {
        display: inline-block;
        vertical-align: middle;
    }
}