.b-topline {
    padding-top: 2.5rem;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 100%;

    .topline__inner {
        padding-left: 2rem;
        padding-right: 2rem;
        margin: auto;
        max-width: 124rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        & > a {
            margin-right: auto;
        }
    }
    .topline__bnt {
        padding-left: 2rem;
    }
    .topline__menu {
        display: none;

        @media (min-width: $breakpoint-tablet) {
            display: block;
        }
    }

}